---
layout: master.hbs
title: Commercial Support
active_selector: support
---
<!-- PAGE TOP -->
<section class="page-title">
	<div class="container">

		<header>

			<ul class="breadcrumb"><!-- breadcrumb -->
				<li><a href="#">Pages</a></li>
				<li class="active">Commercial Support</li>
			</ul><!-- /breadcrumb -->

			<h2><!-- Page Title -->
				<strong>Our</strong> Partners
			</h2><!-- /Page Title -->

		</header>

	</div>
</section>
<!-- /PAGE TOP -->

<section>
	<div class="container">

		<p class="lead"></p>

		<div class="row margin-top60">

				<div class="col-sm-6 col-md-6"><!-- member -->
					<div class="box-content thumbnail fullwidth text-center">
						<span class="item-image">
							<a href="http://www.petabridge.com">
								<img class="img-responsive" src="/pages/images/petabridge.png" alt="">
							</a>
						</span>
						<div class="caption text-left">

							<div class="clearfix margin-bottom10">
								<div class="pull-left">
									<h4 class="nomargin">Petabridge
										<small class="block">United States</small>
									</h4>
								</div>
								<div class="pull-right">
									<a href="https://www.facebook.com/petabridge" class="btn ico-only btn-facebook btn-xs"><i class="fa fa-facebook"></i></a>
									<a href="https://twitter.com/petabridge" class="btn ico-only btn-twitter btn-xs"><i class="fa fa-twitter"></i></a>
									<a href="https://plus.google.com/102500449679363367469/about" class="btn ico-only btn-google-plus btn-xs"><i class="fa fa-google-plus"></i></a>
								</div>

							</div>

							<p class="noborder nomargin nopadding">
								Akka &amp; high-performance data platform for the .NET ecosystem.
							</p>
						</div>
					</div>
				</div><!-- /member -->

				<div class="col-sm-6 col-md-6"><!-- member -->
					<div class="box-content thumbnail fullwidth text-center">
						<span class="item-image">
							<a href="http://www.nethouse.se">
								<img class="img-responsive" src="/pages/images/nethouse.png" alt="">
							</a>
						</span>
						<div class="caption text-left">

							<div class="clearfix margin-bottom10">
								<div class="pull-left">
									<h4 class="nomargin">Nethouse
										<small class="block">Sweden</small>
									</h4>
								</div>
								<div class="pull-right">
									<a href="https://www.facebook.com/Nethouse.se" class="btn ico-only btn-facebook btn-xs"><i class="fa fa-facebook"></i></a>
									<a href="http://twitter.com/nethousedotse" class="btn ico-only btn-twitter btn-xs"><i class="fa fa-twitter"></i></a>
									<!--
									<a href="#" class="btn ico-only btn-google-plus btn-xs"><i class="fa fa-google-plus"></i></a>-->
								</div>

							</div>

							<p class="noborder nomargin nopadding">Lorem ipsum dolor sit amet. Etharums your template rerum facilis dolores nemis omnis fugats vitaes you need this totam rem aperiam, eaque ipsa qu ab illo inventore veritatis et quasi architectos beatae vitae dicta sunt explicabo. Nemo enim sadips ipsums dolores sit.Nemo enims sadips ipsums un inventore veritatis et quasi .</p>
						</div>
					</div>
				</div><!-- /member -->

			</div>
		</div>

	</div>
</section>
