---
layout: master.hbs
title: Commercial Support
active_selector: support
---
<!-- PAGE TOP -->
<section class="page-title">
	<div class="container">

		<header>

			<ul class="breadcrumb"><!-- breadcrumb -->
				<li><a href="#">Pages</a></li>
				<li class="active">Commercial Support</li>
			</ul><!-- /breadcrumb -->

			<h2><!-- Page Title -->
				<strong>Our</strong> Partners
			</h2><!-- /Page Title -->

		</header>

	</div>
</section>
<!-- /PAGE TOP -->

<section>
	<div class="container">

		<p class="lead"></p>

		<div class="row margin-top60">

				<div class="col-sm-6 col-md-6"><!-- member -->
					<div class="box-content thumbnail fullwidth text-center">
						<span class="item-image">
							<a href="http://www.petabridge.com">
								<img class="img-responsive" src="/pages/images/petabridge.png" alt="">
							</a>
						</span>
						<div class="caption text-left">

							<div class="clearfix margin-bottom10">
								<div class="pull-left">
									<h4 class="nomargin">Petabridge
										<small class="block">United States</small>
									</h4>
								</div>
								<div class="pull-right">
									<a href="https://www.facebook.com/petabridge" class="btn ico-only btn-facebook btn-xs"><i class="fa fa-facebook"></i></a>
									<a href="https://twitter.com/petabridge" class="btn ico-only btn-twitter btn-xs"><i class="fa fa-twitter"></i></a>
									<a href="https://plus.google.com/102500449679363367469/about" class="btn ico-only btn-google-plus btn-xs"><i class="fa fa-google-plus"></i></a>
								</div>

							</div>

							<p class="noborder nomargin nopadding">
								Petabridge is an open-source company that was founded to bring the Reactive Model to the .NET ecosystem. Petabridge actively supports the development of Akka.NET and <a href="https://petabridge.com/training">provides professional training, consulting, and support</a> to companies building high-performance distributed systems.
							</p>
						</div>
					</div>
				</div><!-- /member -->

				<div class="col-sm-6 col-md-6"><!-- member -->
					<div class="box-content thumbnail fullwidth text-center">
						<span class="item-image">
							<a href="http://akka.nethouse.se">
								<img class="img-responsive" src="/pages/images/nethouse.png" alt="">
							</a>
						</span>
						<div class="caption text-left">

							<div class="clearfix margin-bottom10">
								<div class="pull-left">
									<h4 class="nomargin">Nethouse
										<small class="block">Sweden</small>
									</h4>
								</div>
								<div class="pull-right">
									<a href="https://www.facebook.com/Nethouse.se" class="btn ico-only btn-facebook btn-xs"><i class="fa fa-facebook"></i></a>
									<a href="http://twitter.com/nethousedotse" class="btn ico-only btn-twitter btn-xs"><i class="fa fa-twitter"></i></a>
									<!--
									<a href="#" class="btn ico-only btn-google-plus btn-xs"><i class="fa fa-google-plus"></i></a>-->
								</div>

							</div>

							<p class="noborder nomargin nopadding">Nethouse is a software development and consulting company based in Sweden, offering <a href="http://akka.nethouse.se">training, consulting, and development services</a> for analytics and cloud software.</p>
						</div>
					</div>
				</div><!-- /member -->

			</div>
		</div>

	</div>
</section>
