---
layout: master.hbs
title: Our team
---
<script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.3.15/angular.min.js"></script>
<!-- PAGE TOP -->
<section class="page-title">
	<div class="container">

		<header>

			<ul class="breadcrumb"><!-- breadcrumb -->
				<li><a href="#">Pages</a></li>
				<li class="active">About Our Team</li>
			</ul><!-- /breadcrumb -->

			<h2><!-- Page Title -->
				<strong>About</strong> Our Team
			</h2><!-- /Page Title -->

		</header>

	</div>
</section>
<!-- /PAGE TOP -->

<section>
	<div class="container">

		<p class="lead">Meet the core Akka.NET team below.</p>

		<div class="row">

			<div class="col-sm-4 col-md-3 fadeInUpBig"><!-- member -->
				<div class="box-content thumbnail text-center">
					<span class="item-image">
						<img class="img-responsive" src="https://avatars3.githubusercontent.com/u/647031?v=2&amp;s=460" alt="">
					</span>
					<div class="caption text-left">

						<div class="clearfix margin-bottom10">
							<div class="pull-left">
								<h4 class="nomargin">Roger Alsing
									<small class="block">Founder / Core team</small>
								</h4>
							</div>
							<div class="pull-right">
								<a href="http://twitter.com/rogeralsing" class="btn ico-only btn-twitter btn-xs"><i class="fa fa-twitter"></i></a>
								<a href="https://github.com/rogeralsing" class="btn ico-only btn-stackoverflow btn-xs"><i class="fa fa-github"></i></a>
							</div>

						</div>

						<p class="noborder nomargin nopadding">Roger is the original creator of the Akka.NET project. C# developer and mentor living in Sweden. Open source enthusiast. Started programming at the age of 10 on the mighty Commodore64. <a href="http://twitter.com/rogeralsing">Follow Roger on Twitter</a> or at his <a href="http://rogeralsing.com/">personal blog</a>. Works at <a href="http://Nethouse.se">Nethouse.se</a></p>
					</div>
				</div>
			</div>

			<div class="col-sm-4 col-md-3 fadeInUpBig"><!-- member -->
				<div class="box-content thumbnail text-center">
					<span class="item-image">
						<img class="img-responsive" src="https://avatars0.githubusercontent.com/u/326939?v=2&amp;s=460" alt="">
					</span>
					<div class="caption text-left">

						<div class="clearfix margin-bottom10">
							<div class="pull-left">
								<h4 class="nomargin">Aaron Stannard
									<small class="block">Founder / Core team</small>
								</h4>
							</div>
							<div class="pull-right">
								<a href="http://twitter.com/aaronontheweb" class="btn ico-only btn-twitter btn-xs"><i class="fa fa-twitter"></i></a>
								<a href="https://github.com/aaronontheweb" class="btn ico-only btn-stackoverflow btn-xs"><i class="fa fa-github"></i></a>
							</div>

						</div>

						<p class="noborder nomargin nopadding">Aaron is Founder and CTO at <a href="http://petabridge.com">Petabridge, a .NET data platform company</a>. Aaron's one of the original contributors to Akka.NET, authoring the Akka.Remote module and Helios, the underlying socket server. Prior to working at Petabridge Aaron founded MarkedUp Analytics, a Cassandra and Akka.NET-powered real-time app analytics and marketing automation company for app developers.</p>
					</div>
				</div>
			</div>

			<div class="col-sm-4 col-md-3 fadeInUpBig"><!-- member -->
				<div class="box-content thumbnail text-center">
					<span class="item-image">
						<img class="img-responsive" src="https://avatars0.githubusercontent.com/u/800302?v=2&amp;s=460" alt="">
					</span>
					<div class="caption text-left">

						<div class="clearfix margin-bottom10">
							<div class="pull-left">
								<h4 class="nomargin">Håkan Canberger
									<small class="block">Core team</small>
								</h4>
							</div>
							<div class="pull-right">
								<a href="http://twitter.com/hcanber" class="btn ico-only btn-twitter btn-xs"><i class="fa fa-twitter"></i></a>
								<a href="https://github.com/hcanber" class="btn ico-only btn-stackoverflow btn-xs"><i class="fa fa-github"></i></a>
							</div>

						</div>

						<p class="noborder nomargin nopadding">Håkan developed the Akka.NET TestKit and internals, and by day is a developer & architect at <a href="http://www.ving.se/">Thomas Cook</a>. Follow Håkan <a href="https://twitter.com/hcanber">on Twitter</a> or at <a href="http://blog.canberger.se/">his personal blog</a>.</p>
					</div>
				</div>
			</div>

			<div class="col-sm-4 col-md-3 fadeInUpBig"><!-- member -->
				<div class="box-content thumbnail text-center">
					<span class="item-image">
						<img class="img-responsive" src="https://avatars0.githubusercontent.com/u/679705?v=2&amp;s=460" alt="">
					</span>
					<div class="caption text-left">

						<div class="clearfix margin-bottom10">
							<div class="pull-left">
								<h4 class="nomargin">Bartosz Sypytkowski
									<small class="block">Core team</small>
								</h4>
							</div>
							<div class="pull-right">
								<a href="http://twitter.com/Horusiath" class="btn ico-only btn-twitter btn-xs"><i class="fa fa-twitter"></i></a>
								<a href="https://github.com/Horusiath" class="btn ico-only btn-stackoverflow btn-xs"><i class="fa fa-github"></i></a>
							</div>

						</div>

						<p class="noborder nomargin nopadding">Bartosz wrote the Akka.NET F# API, and works at <a href="http://rd.samsung.pl/?lang=en">Samsung R&D, Poland</a>. Follow <a href="https://twitter.com/horusiath">Bartosz on Twitter</a> or at <a href="http://bartoszsypytkowski.com/">his personal blog</a>.</p>
					</div>
				</div>
			</div>

			<div class="col-sm-4 col-md-3 fadeInUpBig"><!-- member -->
				<div class="box-content thumbnail text-center">
					<span class="item-image">
						<img class="img-responsive" src="https://avatars2.githubusercontent.com/u/1242903?v=2&amp;s=460" alt="">
					</span>
					<div class="caption text-left">

						<div class="clearfix margin-bottom10">
							<div class="pull-left">
								<h4 class="nomargin">David Smith
									<small class="block">Core team</small>
								</h4>
							</div>
							<div class="pull-right">
								<a href="http://twitter.com/smalldave" class="btn ico-only btn-twitter btn-xs"><i class="fa fa-twitter"></i></a>
								<a href="https://github.com/smalldave" class="btn ico-only btn-stackoverflow btn-xs"><i class="fa fa-github"></i></a>
							</div>

						</div>

						<p class="noborder nomargin nopadding">David contributed Akka.Cluster and MultiNodeTestkit, and is a developer at <a href="https://www.travelrepublic.co.uk/">Travel Republic</a> in the UK. Follow David on <a href="https://github.com/smalldave">GitHub</a>.</p>
					</div>
				</div>
			</div>

			<div class="col-sm-4 col-md-3 fadeInUpBig"><!-- member -->
				<div class="box-content thumbnail text-center">
					<span class="item-image">
						<img class="img-responsive" src="https://avatars0.githubusercontent.com/u/146717?v=2&amp;s=460" alt="">
					</span>
					<div class="caption text-left">

						<div class="clearfix margin-bottom10">
							<div class="pull-left">
								<h4 class="nomargin">Jérémie Chassaing
									<small class="block">Core team</small>
								</h4>
							</div>
							<div class="pull-right">
								<a href="http://twitter.com/thinkb4coding" class="btn ico-only btn-twitter btn-xs"><i class="fa fa-twitter"></i></a>
								<a href="https://github.com/thinkbeforecoding" class="btn ico-only btn-stackoverflow btn-xs"><i class="fa fa-github"></i></a>
							</div>

						</div>

						<p class="noborder nomargin nopadding">Jérémie is an F# developer hailing from Paris, France. Follow him on <a href="https://twitter.com/thinkb4coding">Twitter</a> or at his personal blog, <a href="http://thinkbeforecoding.com/">Think Before Coding</a>.</p>
					</div>
				</div>
			</div>
		</div>

		<p class="lead">Full list of contributors.</p>

		<div class="row" ng-app="app">
			<div ng-controller="TeamController as team">
			<div ng-repeat="person in team.contributors">
			<div class="col-sm-4 col-md-3 fadeInUpBig" ng-controller="ContributorController as contributor"><!-- member -->
				<div class="box-content thumbnail text-center" ng-controller="ContributorController as contributor">
					<span class="item-image">
						<img class="img-responsive" ng-src="[[person.author.avatar_url]]" alt="" style="width:255px">
					</span>
					<div class="caption text-left">

						<div class="clearfix margin-bottom10">
							<div class="pull-left">
								<h4 class="nomargin">[[contributor.data.name || "-"]]
									<small class="block">[[person.author.login]]</small>
								</h4>
							</div>
							<div class="pull-right">
								<a href="[[person.author.html_url]]" class="btn ico-only btn-stackoverflow btn-xs"><i class="fa fa-github"></i></a>
							</div>

						</div>

						<p class="noborder nomargin nopadding">Commits: [[person.total]]</p>
					</div>
				</div>
			</div>
			</div>
			</div>
		</div>
	</div>
</section>
<script>
var app = angular.module('app', []);

app.config(function($interpolateProvider){
	$interpolateProvider.startSymbol('[[').endSymbol(']]');
});

app.controller('TeamController', function($http) {
	var team = this;

	$http.get('https://api.github.com/repos/akkadotnet/akka.net/stats/contributors').
	success(function(data, status, headers, config) {
		team.contributors = data;
		team.contributors.sort(function(a,b)
					{
						return b.total-a.total;
					});
	}).
	error(function(data, status, headers, config) {
		// called asynchronously if an error occurs
		// or server returns response with an error status.
	});
});
app.controller('ContributorController', function($scope,$http) {
	var contributor = this;

	$http.get($scope.person.author.url).
	success(function(data, status, headers, config) {
		console.log(data);
		contributor.data = data;
	}).
	error(function(data, status, headers, config) {
		// called asynchronously if an error occurs
		// or server returns response with an error status.
	});

});
</script>
