---
layout: master.hbs
title: Akka.NET Videos
---
<style>
.video-container {
	position:relative;
	padding-bottom:56.25%;
	padding-top:30px;
	height:0;
	overflow:hidden;
}

.video-container iframe, .video-container object, .video-container embed {
	position:absolute;
	top:0;
	left:0;
	width:100%;
	height:100%;
}
</style>
<section class="page-title">
	<div class="container">

		<header>

			<ul class="breadcrumb"><!-- breadcrumb -->
				<li><a href="#">Pages</a></li>
				<li class="active">Video prestentations</li>
			</ul><!-- /breadcrumb -->

			<h2><!-- Page Title -->
				<strong>Video</strong> Prestentations
			</h2><!-- /Page Title -->

		</header>

	</div>
</section>
<!-- /PAGE TOP -->

<section>
	<div class="container">
		
		<p class="lead">List of video presentations [todo] update this text </p>

		<div class="row margin-top60">

				<div class="col-sm-6 col-md-6"><!-- member -->
					<div class="box-content thumbnail fullwidth text-center">
						<span>
							<div class="video-container"><iframe src="https://www.youtube.com/embed/RiWXo_5CAvg" frameborder="0" allowfullscreen></iframe></div>
						</span>
						<div class="caption text-left">

							<div class="clearfix margin-bottom10">
								<div class="pull-left">
									<h4 class="nomargin">The Actor Model in F# and Akka.Net
										<small class="block">English</small>
									</h4>
								</div>
								<div class="pull-right">
									
								</div>

							</div>

							<p class="noborder nomargin nopadding">
								Writing correct concurrent, fault-tolerant, scalable applications is no simple task. The struggle is generally the result of using the wrong tools or wrong level of abstraction.<br>
<br>
The Actor based concurrency model aims to simplify this process. The actor model is a mathematical model of concurrent computation originated in 1973 by Carl Hewitt ...
							</p>
						</div>
					</div>
				</div><!-- /member -->

				<div class="col-sm-6 col-md-6"><!-- member -->
					<div class="box-content thumbnail fullwidth text-center">
						<span>
							<div class="video-container"><iframe src="https://www.youtube.com/embed/Ta6qLA9OsjE" frameborder="0" allowfullscreen></iframe></div>
						</span>
						<div class="caption text-left">

							<div class="clearfix margin-bottom10">
								<div class="pull-left">
									<h4 class="nomargin">Introduktion till Akka.Net - Håkan Canberger
										<small class="block">Swedish</small>
									</h4>
								</div>
								<div class="pull-right">
									
								</div>

							</div>

							<p class="noborder nomargin nopadding">Akka.Net är ett nytt open source projekt för att skriva system som är "highly concurrent, distributed, and fault tolerant". <br>
							Akka.Net är en portning av Akka för Scala, som i sin tur hämtat inspiration från Erlang och idéer från tidigt 70-tal ...
							</p>
						</div>
					</div>
				</div><!-- /member -->

			</div>
		</div>


		
		

	</div>

</section>


