/*

Akka.NET style. by akkadotnet.github.com

*/

/*
.hljs {
  padding: 15px;
  border-radius: 5px;
  display: block;
  overflow-x: auto;
  background: #2b2b2b;
  text-shadow: 1px 1px #101010;;
  color: #ffffff;
}

.hljs-tag,
.css .hljs-rules,
.css .hljs-value,
.css .hljs-function
.hljs-preprocessor,
.hljs-pragma {
  color: #5ea8ec;
}

.hljs-strongemphasis,
.hljs-strong,
.hljs-emphasis {
  color: #6eb8fc;
}

.hljs-bullet,
.hljs-blockquote,
.hljs-horizontal_rule,
.hljs-number,
.hljs-regexp,
.alias .hljs-keyword,
.hljs-literal,
.hljs-hexcolor {
  color: #fff0a0;
}

.hljs-title {
  color: #fff0a0;
}

.hljs-tag .hljs-title {
  color: #7ec8ff;
}

.hljs-cdata {
  color: #f0f0f0;
}
.hljs-attribute {
  color: #fff0a0;
}
.hljs-pi {
  color: #808080;
}

.hljs-value {
  color: #ffffff;
}



.hljs-link_url {
  font-size: 80%;
}

.hljs-strong,
.hljs-strongemphasis {
  font-weight: bold;
}

.hljs-emphasis,
.hljs-strongemphasis {
  font-style: italic;
}

.hljs-keyword,
.hljs-function,
.hljs-change,
.hljs-winutils,
.hljs-flow,
.lisp .hljs-title,
.clojure .hljs-built_in,
.nginx .hljs-title,
.tex .hljs-special,
.hljs-header,
.hljs-symbol,
.hljs-symbol .hljs-string,
.alias .hljs-keyword:first-child,
.css .hljs-tag,
.css .unit,
.css .hljs-important {
  color: #6eb8fc;
}

.hljs-function .hljs-keyword,
.hljs-class .hljs-keyword:first-child,
.hljs-constant,
.css .hljs-attribute {
  color: #6eb8fc;
}

.hljs-variable,
.hljs-params {
  color: #ffffff;
}

.hljs-string {
  color: #d4b43c;
  padding: 2px;
}

.hljs-comment {
  color: #96C71D;
}
*/

/*

github.com style (c) Vasily Polovnyov <vast@whiteants.net>

*/

// .hljs {
//     padding: 15px;
//   border-radius: 5px;
//   display: block;
//   overflow-x: auto;
//   background: #2b2b2b;
//   text-shadow: 1px 1px #101010;;
//   color: #ffffff;
// }

// .hljs-comment,
// .diff .hljs-header,
// .hljs-javadoc {
//   color: #998;
//   font-style: italic;
// }

// .hljs-keyword,
// .css .rule .hljs-keyword,
// .hljs-winutils,
// .nginx .hljs-title,
// .hljs-subst,
// .hljs-request,
// .hljs-status {
//   color: #333;
//   font-weight: bold;
// }

// .hljs-number,
// .hljs-hexcolor,
// .ruby .hljs-constant {
//   color: #008080;
// }

// .hljs-string,
// .hljs-tag .hljs-value,
// .hljs-phpdoc,
// .hljs-dartdoc,
// .tex .hljs-formula {
//   color: #d14;
// }

// .hljs-title,
// .hljs-id,
// .scss .hljs-preprocessor {
//   color: #900;
//   font-weight: bold;
// }

// .hljs-list .hljs-keyword,
// .hljs-subst {
//   font-weight: normal;
// }

// .hljs-class .hljs-title,
// .hljs-type,
// .vhdl .hljs-literal,
// .tex .hljs-command {
//   color: #458;
//   font-weight: bold;
// }

// .hljs-tag,
// .hljs-tag .hljs-title,
// .hljs-rules .hljs-property,
// .django .hljs-tag .hljs-keyword {
//   color: #000080;
//   font-weight: normal;
// }

// .hljs-attribute,
// .hljs-variable,
// .lisp .hljs-body {
//   color: #008080;
// }

// .hljs-regexp {
//   color: #009926;
// }

// .hljs-symbol,
// .ruby .hljs-symbol .hljs-string,
// .lisp .hljs-keyword,
// .clojure .hljs-keyword,
// .scheme .hljs-keyword,
// .tex .hljs-special,
// .hljs-prompt {
//   color: #990073;
// }

// .hljs-built_in {
//   color: #0086b3;
// }

// .hljs-preprocessor,
// .hljs-pragma,
// .hljs-pi,
// .hljs-doctype,
// .hljs-shebang,
// .hljs-cdata {
//   color: #999;
//   font-weight: bold;
// }

// .hljs-deletion {
//   background: #fdd;
// }

// .hljs-addition {
//   background: #dfd;
// }

// .diff .hljs-change {
//   background: #0086b3;
// }

// .hljs-chunk {
//   color: #aaa;
// }

.hljs {
  border: none;
}