/* line 2, ../_scss/_helpers.scss */
.text-center {
  text-align: center !important;
}

/* line 3, ../_scss/_helpers.scss */
.text-left {
  text-align: left !important;
}

/* line 4, ../_scss/_helpers.scss */
.text-right {
  text-align: right !important;
}

/* line 5, ../_scss/_helpers.scss */
.text-bold {
  font-weight: bold !important;
}

/* line 6, ../_scss/_helpers.scss */
.text-underline {
  text-decoration: underline !important;
}

/* line 7, ../_scss/_helpers.scss */
.text-italic {
  font-style: italic !important;
}

/* line 8, ../_scss/_helpers.scss */
.text-red {
  color: red;
}

/* line 9, ../_scss/_helpers.scss */
.left {
  float: left !important;
}

/* line 10, ../_scss/_helpers.scss */
.right {
  float: right !important;
}

/* line 12, ../_scss/_helpers.scss */
.center {
  float: none;
  margin: 0 auto;
  display: block;
}

/* line 18, ../_scss/_helpers.scss */
.inline-block {
  display: inline-block !important;
  vertical-align: top;
  zoom: 1;
  /* Fix for IE7 */
  *display: inline;
  /* Fix for IE7 */
}

/* line 25, ../_scss/_helpers.scss */
.hidden {
  display: none !important;
}

/* line 26, ../_scss/_helpers.scss */
.hide-for-small {
  display: inherit !important;
}

/* line 27, ../_scss/_helpers.scss */
.show-for-small {
  display: none !important;
}

/* line 30, ../_scss/_helpers.scss */
.clearfix:before,
.clearfix:after {
  content: "";
  display: table;
}

/* line 34, ../_scss/_helpers.scss */
.clearfix:after {
  clear: both;
}

/* line 37, ../_scss/_helpers.scss */
.clearfix {
  zoom: 1;
  /* For IE 6/7 (trigger hasLayout) */
}

@media only screen and (max-width: 480px) {
  /* line 48, ../_scss/_helpers.scss */
  .hide-for-small {
    display: none !important;
  }

  /* line 49, ../_scss/_helpers.scss */
  .show-for-small {
    display: inherit !important;
  }
}
/* line 1, ../_scss/_custom.scss */
.team-desc {
  overflow: scroll !important;
}

/* line 5, ../_scss/_custom.scss */
section {
  padding-top: 30px;
  padding-bottom: 30px;
}

/* line 10, ../_scss/_custom.scss */
.parallax, #hero-description {
  padding: 30px 0;
}

/* line 14, ../_scss/_custom.scss */
.hero {
  text-align: center;
}

/* line 18, ../_scss/_custom.scss */
.support-company {
  text-align: center;
}
/* line 20, ../_scss/_custom.scss */
.support-company .logo {
  max-width: 100%;
}

/* line 24, ../_scss/_custom.scss */
.docs-content img {
  max-width: 100%;
}

@media only screen and (min-width: 991px) {
  /* line 32, ../_scss/_custom.scss */
  #topNav ul.nav > li a {
    padding: 23px 20px 5px;
  }
}
