<!DOCTYPE html>
<!--[if IE 8]>			<html class="ie ie8"> <![endif]-->
<!--[if IE 9]>			<html class="ie ie9"> <![endif]-->
<!--[if gt IE 9]><!-->	<html> <!--<![endif]-->
	<head>
		{{> head}}
	</head>

	<!--
		Available body classes:
			smoothscroll			= enable chrome browser smooth scroll
			grey 					= grey content background
			boxed 					= boxed style
			pattern1 ... pattern10 	= background pattern

		Background Image - add to body:
			data-background="/theme_assets/images/boxed_background/1.jpg"
	-->
	<body>

		<div id="wrapper">

			<div id="header"><!-- class="sticky" for sticky menu -->

				<!-- Top Bar -->
				<header id="topBar">
					<div class="container">

						<div class="pull-right fsize13 margin-top10 hide_mobile">

							<!-- mail , phone -->
							<a href="mailto:hi@getakka.net">hi@getakka.net</a> &bull;

							<div class="block text-right"><!-- social -->
								<a href="https://www.facebook.com/akkadotnet" class="social fa fa-facebook"></a>
								<a href="http://stackoverflow.com/questions/tagged/akka.net" class="social fa fa-stack-overflow"></a>
								<a href="https://twitter.com/AkkaDotNET" class="social fa fa-twitter"></a>
							</div><!-- /social -->

						</div>

						<!-- Logo -->
						<a class="logo" href="/">
							<img src="/content/images/akkalogo.png"  alt="" style="padding-top:0px;padding-left: 5px;" />
						</a>

					</div><!-- /.container -->
				</header>
				<!-- /Top Bar -->


				<!-- Top Nav -->
				<header id="topNav">
					<div class="container">

						<!-- Mobile Menu Button -->
						<button class="btn btn-mobile" data-toggle="collapse" data-target=".nav-main-collapse">
							<i class="fa fa-bars"></i>
						</button>

						<!-- Search -->
						<form class="search" method="get" action="/search">
							<input type="text" class="form-control" name="q" value="" placeholder="Search">
							<button class="fa fa-search"></button>
						</form>
						<!-- /Search -->

						<!-- Top Nav -->
						<div class="navbar-collapse nav-main-collapse collapse">
							<nav class="nav-main">

								<!--
									NOTE

									For a regular link, remove "dropdown" class from LI tag and "dropdown-toggle" class from the href.
									Direct Link Example:

									<li>
										<a href="#">HOME</a>
									</li>
								-->
								<!-- pageurl {{ page.url }} -->
								<ul id="topMain" class="nav nav-pills nav-main">
									<li class="mega-menu{{#is layout  "master.hbs" }} active{{/is}}">
										<a href="/">
											HOME <span>welcome</span>
										</a>
									</li>
									<li class="mega-menu{{#is layout  "wiki.hbs" }}  active{{/is}}">
										<a href="/wiki/">DOCUMENTATION <span>Wiki</span></a>
									</li>
									<li class="mega-menu">
										<a href="/api/">API <span>Docs</span></a>
									</li>
									<li class="mega-menu">
										<a href="https://github.com/akkadotnet/akka.net">Github Repository<span>Code and Issue tracker</span></a>
									</li>
									<li class="mega-menu">
										<a href="https://gitter.im/akkadotnet/akka.net">Gitter <span>Talk to us</span></a>
									</li>
									<li class="mega-menu">
										<a href="/pages/support">Commercial Support<span>List of commercial parters</span></a>
									</li>
								</ul>

							</nav>
						</div>
						<!-- /Top Nav -->

					</div><!-- /.container -->
				</header>
				<!-- /Top Nav -->

			</div>

			{{> body }}


			<!-- FOOTER -->
			<footer id="footer">
				<div class="container">

					<div class="row">

						<!-- col #1 -->
						<div class="spaced dark col-md-3">
							<h4>About <strong>Akka.NET</strong></h4>
							<p class="block">
							Akka.NET is a port of the popular <br/>
							Java/Scala framework <a href="http://akka.io">Akka</a> to .NET.<br/>
							<br/>
							This is a community driven port and <br/>
							is not affiliated with <a href="http://typesafe.com">Typesafe</a> who <br/>
							makes the original Java/Scala version.<br/>
							</p>

							<p class="block"><!-- social -->
								<a href="https://www.facebook.com/akkadotnet" class="social fa fa-facebook"></a>
								<a href="http://stackoverflow.com/questions/tagged/akka.net" class="social fa fa-stack-overflow"></a>
								<a href="https://twitter.com/AkkaDotNET" class="social fa fa-twitter"></a>
							</p><!-- /social -->
						</div>
						<!-- /col #1 -->



						<!-- col #3 -->
						<div class="spaced col-md-6 col-sm-4">
							<h4>Recent <strong>Tweets</strong></h4>
							<ul class="list-unstyled fsize13" id="recent_tweets">
							<!--	<li>
									<i class="fa fa-twitter"></i> <a href="#">@John Doe</a> Pilsum dolor lorem sit consectetur adipiscing orem sequat <small class="ago">8 mins ago</small>
								</li>
								<li>
									<i class="fa fa-twitter"></i> <a href="#">@John Doe</a> Remonde sequat ipsum dolor lorem sit consectetur adipiscing  <small class="ago">8 mins ago</small>
								</li>
								<li>
									<i class="fa fa-twitter"></i> <a href="#">@John Doe</a> Imperdiet condimentum diam dolor lorem sit consectetur adipiscing <small class="ago">8 mins ago</small>
								</li>-->
							</ul>
						</div>
						<!-- /col #3 -->

						<div class="spaced col-md-3 col-sm-4">
							<h4>Keep <strong>Updated</strong></h4>

							<h4><small><strong>Subscribe to our Newsletter</strong></small></h4>


							<!-- Begin MailChimp Signup Form -->
							<div id="mc_embed_signup">
							<form class="input-group" action="//github.us8.list-manage.com/subscribe/post?u=945d2a2edaa89aaabd396bc45&amp;id=5f9a7a993d" method="post" id="mc-embedded-subscribe-form" name="mc-embedded-subscribe-form" class="validate" target="_blank" novalidate>

								<input type="email" value="" name="EMAIL" class="form-control placeholder required email" id="mce-EMAIL" placeholder="E-mail Address" >
								<span class="input-group-btn">
									<button class="btn btn-primary" type="submit" name="subscribe" id="mc-embedded-subscribe">SUBMIT</button>
								</span>

								<div id="mce-responses" class="clear">
									<div class="response" id="mce-error-response" style="display:none"></div>
									<div class="response" id="mce-success-response" style="display:none"></div>
								</div>    <!-- real people should not fill this in and expect good things - do not remove this or risk form bot signups-->
							    <div style="position: absolute; left: -5000px;"><input type="text" name="b_945d2a2edaa89aaabd396bc45_5f9a7a993d" tabindex="-1" value=""></div>
							    <div class="clear"></div>
							</form>
							</div>

							<!--End mc_embed_signup-->

						</div>
					</div>

				</div>

				<hr />

				<div class="copyright">
					<div class="container text-center fsize12">
						<!--Epona theme by <a href="http://www.stepofweb.com" target="_blank" title="bootstrap themes &amp; templates" class="copyright">stepofweb</a> &bull; All Right Reserved &copy; Your Company LLC. &nbsp;
						<a href="page-privacy.html" class="fsize11">Privacy Policy</a> &bull;
						<a href="page-terms.html" class="fsize11">Terms of Service</a>-->
					</div>
				</div>
			</footer>
			<!-- /FOOTER -->

			<a href="#" id="toTop"></a>

		</div><!-- /#wrapper -->

		<!-- JAVASCRIPT FILES -->
		<script type="text/javascript" src="/theme_assets/plugins/jquery-2.1.1.min.js"></script>
		<script type="text/javascript" src="/theme_assets/plugins/jquery.isotope.js"></script>
		<script type="text/javascript" src="/theme_assets/plugins/masonry.js"></script>

		<script type="text/javascript" src="/theme_assets/plugins/bootstrap/js/bootstrap.min.js"></script>
		<script type="text/javascript" src="/theme_assets/plugins/magnific-popup/jquery.magnific-popup.min.js"></script>
		<script type="text/javascript" src="/theme_assets/plugins/owl-carousel/owl.carousel.min.js"></script>
		<script type="text/javascript" src="/theme_assets/plugins/knob/js/jquery.knob.js"></script>
		<script type="text/javascript" src="/theme_assets/plugins/flexslider/jquery.flexslider-min.js"></script>

		<!-- REVOLUTION SLIDER -->
		<script type="text/javascript" src="/theme_assets/plugins/revolution-slider/js/jquery.themepunch.plugins.min.js"></script>
		<script type="text/javascript" src="/theme_assets/plugins/revolution-slider/js/jquery.themepunch.revolution.min.js"></script>
		<script type="text/javascript" src="/theme_assets/js/revolution_slider.js"></script>
		<script type="text/javascript" src="/content/jquery-toc.js"></script>


		<script type="text/javascript" src="/theme_assets/js/scripts.js"></script>
		<script type="text/javascript" src="/content/scripts.js"></script>

		<!-- REACTIVE MANIFESTO BANNER -->
		<a href="http://www.reactivemanifesto.org/"> <img style="border: 0; left: 0; top:0; z-index: 9000; max-width: 110px;position: fixed;" src="//d379ifj7s9wntv.cloudfront.net/reactivemanifesto/images/ribbons/we-are-reactive-red-left.png"> </a>

	</body>
</html>
