---
layout: master.hbs
---
			<!-- PAGE TOP -->
			<section class="page-title">
				<div class="container">
					<header>
						<ul class="breadcrumb"><!-- breadcrumb -->
							<li><a href="/">Home</a></li>
							<li><a href="/docs/">Docs</a></li>
							<li class="active">{{title }}<a href="https://github.com/akkadotnet/getakka.net/edit/master/src/docs/{{title }}.md" > (Edit on Github)</a></li>
						</ul><!-- /breadcrumb -->

						<h2><!-- Page Title -->
							<strong>Akka.NET</strong> Docs
						</h2><!-- /Page Title -->

					</header>

				</div>
			</section>
			<!-- /PAGE TOP -->

			<!-- CONTENT -->
			<section>
				<div class="container">

					<div class="row">

						<!-- RIGHT COLUMNS -->
						<div class="col-md-3" id="toc">
						</div>
						<!-- /RIGHT COLUMNS -->

						<!-- LEFT COLUMNS -->
						<div class="col-md-8 docs-content">
							<div id="main_content">

								{{#gfm }}
								{{> body }}
								{{/gfm }}

								{{#if page.allow_comments }}
								<div class="sky-form boxed">
									<header>Leave a comment</header>
									<div style="padding:12px;">
										<div id="disqus_thread"></div>
					                <script type="text/javascript">
					                    /* * * CONFIGURATION VARIABLES: EDIT BEFORE PASTING INTO YOUR WEBPAGE * * */
					                    var disqus_shortname = 'akkanet'; // required: replace example with your forum shortname

					                    /* * * DON'T EDIT BELOW THIS LINE * * */
					                    (function () {
					                        var dsq = document.createElement('script'); dsq.type = 'text/javascript'; dsq.async = true;
					                        dsq.src = '//' + disqus_shortname + '.disqus.com/embed.js';
					                        (document.getElementsByTagName('head')[0] || document.getElementsByTagName('body')[0]).appendChild(dsq);
					                    })();
					                </script>
					                <noscript>Please enable JavaScript to view the <a href="http://disqus.com/?ref_noscript">comments powered by Disqus.</a></noscript>
					                <a href="http://disqus.com" class="dsq-brlink">comments powered by <span class="logo-disqus">Disqus</span></a>
						            </div>
						        </div>
								</div>
								{{/if}}

						</div>
						<div class="col-md-1">&nbsp;</div>
						<!-- /LEFT COLUMNS -->



					</div>

				</div>
			</section>
			<!-- /CONTENT -->
